<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectManagerIOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6595E8AB1F320668004C8CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6595E8BF1F320668004C8CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6595E8CA1F320668004C8CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
